.home-container {
  display: flex;
  flex-direction: column;
  gap: 340px;
  width: 100%;
  margin-top: 50px;
  min-height: 100vh;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.school-logo {
  height: 160px;
  width: 140px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nav-item {
  font-weight: 300;
  font-size: 18px;
  cursor: pointer;
}

.heading-section {
  width: 100%;
  text-align: center;
}

.heading-text {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 400;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
